name: deploy

on:
  push:
    branches:
      - dev
      - staging
      - prod
      - sharedsvc

env:
  IMAGE: harbor.services.liatr.io/liatrio/rode-demo-node-app
  RODE_HOST: rode-grpc.services.liatr.io:443
  OAUTH2_TOKEN_URL: 'https://keycloak.services.liatr.io/auth/realms/liatrio/protocol/openid-connect/token'
  OAUTH2_CLIENT_ID: rode-enforcer

jobs:
  deploy:
    runs-on:
      - self-hosted
      - rode-runners-prod
    environment: liatrio-sharedsvc
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Get Resource URI
        id: get
        run: |
          digest=$(awk '/tag/{print $2}' env-values.yaml)
          resourceUri="${{ env.IMAGE }}@sha256:$digest"
          echo "::set-output name=resourceUri::$resourceUri"

      - name: Fetch Access Token
        uses: liatrio/github-actions/oauth2-token@master
        id: token
        with:
          clientId: ${{ env.OAUTH2_CLIENT_ID }}
          clientSecret: ${{ secrets.OAUTH2_CLIENT_SECRET }}
          tokenUrl: ${{ env.OAUTH2_TOKEN_URL }}

      - name: Evaluate Resource
        uses: rode/enforcer-action@v0.3.2
        with:
          accessToken: ${{ steps.token.outputs.accessToken }}
          enforce: ${{ github.ref != 'refs/heads/dev' }} # don't require policy to pass in dev
          policyGroup: rode-demo
          resourceUri: ${{ steps.get.outputs.resourceUri }}
          rodeHost: ${{ env.RODE_HOST }}

      - name: Install Helm
        run: curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash

      - name: Helm Upgrade
        run: |
          branchName=${GITHUB_REF##*/}

          helm version
          helm upgrade -f env-values.yaml \
            -f environments/${branchName}/values.yaml \
            --install demo-app-test \
            charts/demo-app \
            -n rode-demo-app-${branchName}
